<section class="section__background">
  <div class="section__titles">
    <h1 class="section__title">
      Conheça os Serviços
    </h1>
    <p class="section__paragraph">
      Oferecemos atendimento especializado em fisioterapia pediátrica,
      garantindo o melhor cuidado para o seu filho em Recife e Região.
    </p>
  </div>
  <div class="works__container">
    <div class="work-item">
      <img ngSrc="assets/work1.jpg" alt="image" width="100" height="100" class="rounded-image">
      <p class="work-text">Texto descritivo para determinado serviço </p>
      <button mat-stroked-button>Fale Conosco</button>
    </div>
    <div class="work-item">
      <img ngSrc="assets/work1.jpg" alt="image" width="100" height="100" class="rounded-image">
      <p class="work-text">Texto descritivo para determinado serviço </p>
      <button mat-stroked-button>Fale Conosco</button>
    </div>
    <div class="work-item">
      <img ngSrc="assets/work1.jpg" alt="image" width="100" height="100" class="rounded-image">
      <p class="work-text">Texto descritivo para determinado serviço </p>
      <button mat-stroked-button>Fale Conosco</button>
    </div>
    <div class="work-item">
      <img ngSrc="assets/work1.jpg" alt="image" width="100" height="100" class="rounded-image">
      <p class="work-text">Texto descritivo para determinado serviço </p>
      <button mat-stroked-button>Fale Conosco</button>
    </div>
  </div>
</section>
