.section__background {
  background-image: url("/assets/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.section__titles {
  text-align: center;
  color: #fff;
  margin-bottom: 150px;
}

.section__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.section__paragraph {
  font-size: 18px;
}

.works__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.work-item {
  text-align: center;
}

.rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button[mat-stroked-button] {
  border: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: slategrey 0px 10px 10px;
}

.works__container p {
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  section {
    margin-top: -150px;
  }
  .section__background {
    height: auto;
    padding: 50px 20px;
  }

  .section__titles {
    margin-top: 290px;
    margin-bottom: 50px;
  }

  .section__title {
    font-size: 30px;
  }

  .section__paragraph {
    font-size: 16px;
  }

  .works__container {
    gap: 20px;
  }

  .work-item {
    margin-bottom: 20px;
  }

  .rounded-image {
    width: 100px;
    height: 100px;
  }

  .work-text {
    font-size: 10px;
  }

}

