<section>
  <div class="title__container">
    <h1 class="title__container-title">
      Galeria de Fotos
    </h1>
    <p>
      Eternizando momentos com meus pequenos e comemorando suas evoluções.
    </p>
  </div>
  <p-carousel [value]="images" [circular]="true" [autoplayInterval]="2000" class="carousel">
    <ng-template pTemplate="item" let-item>
      <div class="carousel__item">
        <img [src]="item.source" [alt]="item.alt" class="carousel__image">
        <div class="carousel__title">{{ item.title }}</div>
      </div>
    </ng-template>
  </p-carousel>
</section>
