<section class="map-section">
  <div class="map-section__header">
    <h2 class="map-section__title">Atendimentos</h2>
    <h3 class="map-section__subtitle">Subtítulo da Seção</h3>
  </div>
  <div class="map-section__content">
    <div class="map-section__map">
      <div class="map-section__map-container" id="map"></div>
    </div>
    <div class="map-section__text-content">
      <p class="map-section__description">
        Nossos serviços de fisioterapia pediátrica estão disponíveis em Recife e região, oferecendo cuidados especializados para crianças de todas as idades. Nossa equipe é altamente qualificada para tratar uma ampla gama de condições, desde problemas de desenvolvimento motor até lesões e reabilitação. Com um ambiente acolhedor e equipamentos de ponta, garantimos que cada sessão seja eficaz e agradável para seus pequenos. Entre em contato conosco para saber mais sobre como podemos ajudar seu filho a alcançar seu pleno potencial.
      </p>

    </div>
  </div>
</section>
