.reviews {
  padding: 5rem;
  background-image: url('/assets/wave2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 90vh;
  background-color: #f9f9f9;
  text-align: center;
}

.reviews__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 8rem;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.reviews__item {
  width: calc(33.33% - 2rem);
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__quote {
  font-style: italic;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.reviews__author {
  font-weight: bold;
  color: #333;
  align-self: flex-start;
}


@media (max-width: 768px) {
  .reviews {
    padding: 2rem;
    height: auto;
  }

  .reviews__title {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .reviews__list {
    flex-direction: column;
    gap: 1.5rem;
  }

  .reviews__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
