<section class="background__image">
  <div class="divider__container">
    <mat-divider class="divider" [inset]="true"></mat-divider>
  </div>
  <div class="content__titles">
    <h1 class="content__title">
      ROBERTA KARLIZE
    </h1>
    <h2 class="content__subtitle">
      REABILITAÇÃO <br> INFANTIL COM <br> AMOR
    </h2>
    <p class="content__paragraph">
      Oferecemos avaliação, tratamento e reabilitação fisioterapêutica <br>
      pediátrica especializada, com atendimento domiciliar em Recife e
      região. <br> Cuide da saúde e bem-estar do seu filho.
    </p>
  </div>

</section>
